// Adding in my fonts
@font-face {
    font-family: 'headerFont';
    src: url('./assets/fonts/Lexend-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'baseFont';
    src: url('./assets/fonts/AlumniSansPinstripe-Regular.ttf'),
         url('./assets/fonts/AlumniSansPinstripe-Italic.ttf');
    font-weight: normal;
    font-style: normal;
}

// Color variables for ease later in code
$black: #1B1816;
$main: #49111C;
$white: #F2F4F3;
$second: #A9927D;
$third: #5E503F;


// I'm setting all values to zero or none so I can have complete control over the pages look. Going for a mobile first approach
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

// This is to make sizing easier for me. Since the default broswer size is nomral 16px, 62.5% would leave that at 10px. Meaning that 1 rem is 10px. Making math easier
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

@media (max-width: 767px) {
body {
    height: 100%;
    background: $black;

    #wrapper {
        #overlay {
            position: fixed;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($black, 0.6);
            z-index: 100;
            opacity: 0%;
            pointer-events: none;
            transition: opacity .4s ease;

            &.active {
                opacity: 100%;
            }
            
        }

        // Navigation Section on Mobile Devices
        nav {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            color: $second;
            display: flex;
            z-index: 100;
            background-color: rgba($second, .5);

            #websiteHeader {
                color: $second;
                transition: all .3s ease;

                &.active {
                    color: $main;
                }

                h3 {
                    padding: 1rem;
                    font-size: 2rem;
                    font-family: 'headerFont', sans-serif;
                    
                }
            }

            #burgerDropdown {
                position: absolute;
                right: 1.2rem;
                background-image: url(./assets/images/menuIconLight.png);
                background-size: contain;
                width: 2.6rem;
                height: 2.6rem;
                margin: 1rem 0rem;
            }

           

            #navList {
                // This keeps the sidebar off the screen until the user calls for it
                transform: translateX(100%);
                z-index: 102;
                font-family: 'headerFont', sans-serif;
                // This is here for the user to have a better viewing experience
                transition: transform 0.3s ease-in-out;
                position: fixed;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: $black;
                border: .2rem solid $second;
                height: 100vh;
                width: 75%;
                right: 0;

                &.open {
                    transform: translateX(0%);
                }

                

                #navSidebarHeader {
                    display: flex;
                    align-items: center;

                    h3 {
                        position: absolute;
                        font-size: 2rem;
                        left: 0;
                        top: 0;
                        padding: .5rem;
                        margin: .2rem 1rem;
                    }

                    #closeNav {
                        background-image: url('./assets/images/icons8-close-50.png');
                        background-size: contain;
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 2rem;
                        height: 2rem;
                        margin: 1rem 1rem;
                    }
                }


                #navSidebarItems {
                    display: flex;
                    height: 100%;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    li {
                        text-transform: uppercase;
                        padding: 3rem 5rem;
                        font-size: 2rem;
                    }
                }

                #navSidebarFooter {
                    display: flex;
                    justify-content: center;
                    position: absolute;
                    bottom: 0;

                    .social {
                        a {
                            color: $second;
                            font-size: 1rem;
                            position: relative;
                            margin: .5rem 1rem;
                        }
                    }

                    .social:not(:first-child, :last-child) {
                        a {
                        border-left: .1rem solid $second;
                        border-right: .1rem solid $second;
                        padding: 0rem 1rem;
                        }
                    }

                }

            }

            
        }

        // Content Section for mobile devices / smaller screens
        #contentSection {
            color: $white;
            z-index: 1;
            background-color: $black;
            height: 100vh;

            #content {
                position: relative;
                z-index: 1;
                width: 100%;
                height: 40rem;
                display: flex;
                background-image: url('./assets/images/jacobHeadshot.png');
                background-attachment: fixed;
                background-color: $second;
                background-size: contain;
                background-position: top;
                background-repeat: no-repeat;

                #contentInContent {
                    display: flex;
                    position: relative;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    
                    // This adds a tint to the headshot image
                    .tint {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba($black, .6);
                    }

                    #myNameHeader {
                        font-family: 'headerFont', sans-serif;
                        font-size: 2.5rem;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        color: $second;
                        background-color: rgba($third, .5);
                        padding: .5rem 1rem;
                        border-radius: .5rem;

                        display: flex;
                        justify-content: center;
                        h1 {
                            margin: .2rem;
                        }
                    }

                    
                }

                
            }
        
        }

        // About Me section on mobile devices / smaller screens

        #aboutMe {
            position: relative;
            display: flex;
            flex-direction: column;
            z-index: 2;
            border-bottom: .1rem solid $second;
            #titleClump {
                margin: 2rem 0rem 0rem 1rem;
                padding: 1rem;
                font-family: 'headerFont', sans-serif;
            }
            #currentTitle {
                font-size: 2.5rem;
            }
            #titleSubtitle {
                font-size: 1.4rem;
                width: 20rem;
            }


            #descriptionAboutMe {
                margin-top: 5rem;

                p.paragraph {
                margin-bottom: 1.3rem;
                text-align: center;
                font-family: 'headerFont', sans-serif;
                font-size: 1.5rem;
                }
                
                &:last-child {
                    margin-bottom: 2rem;
                }
            }
            #contactMeBtn {
                position: absolute;
                top: 3rem;
                right: 2rem;
                background-image: url(./assets/images/contactIconLight.png);
                background-size: contain;
                width: 2.6rem;
                height: 2.6rem;
            }
        }

        #myWork {
            margin-top: 3rem;
            position: relative;
            z-index: 2;

            #myWorkHeader {
                text-align: center;
                font-size: 4rem;
                font-family: 'headerFont', sans-serif;
            }

            #worksColumn {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .work {
                    text-align: center;
                    position: relative;
                    width: 75%;
                    padding: 10rem 3rem;
                    margin: 1rem 0rem;
                    border: .1rem solid $third;

                    a {
                        font-size: 2rem;
                        font-family: 'headerFont', sans-serif;
                        color: $second;
                    }

                }

                #csProjects {
                    background-image: url('./assets/images/github.jpg');
                    background-color: rgba($black, .7);
                    background-blend-mode: multiply;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                }


            }
        }
    }
}
}




// CSS for any tablet/Laptop Devices

@media (min-width: 768px) {
    html {
        scroll-behavior: smooth;
        font-size: 15px;
    }

    body {
        background: rgba($black, .99);
        font-family: 'headerFont', sans-serif;
        height: 50000px;

// Page wrapper for better look
        #wrapper {
            width: 85vw;
            margin: 0 auto;
            background: $black;
            color: $second;
            border: $third .1rem solid;

            // Nav sectrion for larger displays
            nav {
                z-index: 100;
                position: absolute;
                display: flex;
                left: 0;
                top: 0;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                background: $black;
                width: 100%;
                height: 3rem;

                #websiteHeader {
                    h3 {
                        padding: .5rem 1rem;
                    }
                }

                #navList {
                    display: flex;
                }


                #navSidebarHeader {
                    display: none;
                }

                #navSidebarItems {
                    display: flex;
                    flex-direction: row;
                    width: 100%;

                    li {

                        a {
                            color: $second;
                            padding: .2rem .4rem;
                        }
                    }
                }


                #navSidebarFooter {
                    display: flex;
                    flex-direction: row;
                    margin-left: .7rem;

                    
                    
                    a {
                        
                        
                        .sidebarFooterText {
                            display: none;
                        }
                    }

                    a.social {
                        margin: 0rem .6rem;
                    }
                    a.facebook {
                        width: 1rem;
                        height: 1rem;
                        background: url("./assets/images/icons8-facebook-50.png");
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                    }
                    a.instagram {
                        width: 1rem;
                        height: 1rem;
                        background: url("./assets/images/icons8-instagram-50.png");
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                    }
                    a.twitch {
                        width: 1rem;
                        height: 1rem;
                        background: url("./assets/images/icons8-twitch-50.png");
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                    }
                }
            }

            #contentSection {
                
                #content {
                    position: relative;
                    background: url('./assets/images/jacobHeadshot.png');
                    background-position: center;
                    background-attachment: fixed;
                    background-size: contain;
                    background-color: $second;
                    background-repeat: no-repeat;
                    height: 90vh;


                    #contentInContent {
                        .tint {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba($black, .8);
                        }
                    }
                }

                #myNameHeader {
                    color: $third;
                    width: 100%;
                    height: 100%;
                    font-size: 9vw;
                    transition: all .3s ease-in-out;
                    #firstNameHeader {
                        position: absolute;
                        top: 15vw;
                        text-shadow: 1rem 1rem 1rem rgba($black, .7);
                        transition: all .3s ease-in-out;
                    }
                    #lastNameHeader {
                        position: absolute;
                        bottom: 15vw;
                        right: 1rem;
                        
                        text-shadow: 1rem 1rem 1rem rgba($black, .7);
                        transition: all .3s ease-in-out;
                    }

                    &:hover {
                        
                        cursor: pointer;

                        #lastNameHeader, #firstNameHeader {
                            color: rgba($second, .7);
                            text-shadow: 1rem 1rem 1rem rgba($black, 1);
                        }
                    }
                }
            }
        }
    }
}
    