@font-face {
  font-family: "headerFont";
  src: url("../assets/fonts/Lexend-VariableFont_wght.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "baseFont";
  src: url("../assets/fonts/AlumniSansPinstripe-Regular.ttf"), url("../assets/fonts/AlumniSansPinstripe-Italic.ttf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "writingFont";
  src: url("../assets/fonts/CaveatBrush-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;
}

@media (max-width: 767px) {
  body {
    height: 100%;
    background: #1B1816;
  }
  body #popupContactMenu {
    display: none;
  }
  body #popupGoalsMenu {
    display: none;
  }
  body #wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  body #wrapper #overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 24, 22, 0.6);
    z-index: 100;
    opacity: 0%;
    pointer-events: none;
    transition: opacity 0.4s ease;
  }
  body #wrapper #overlay.active {
    opacity: 100%;
  }
  body #wrapper nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: #A9927D;
    display: flex;
    z-index: 100;
    background-color: rgba(94, 80, 63, 0.5);
  }
  body #wrapper nav #websiteHeader {
    color: #A9927D;
    transition: all 0.3s ease;
  }
  body #wrapper nav #websiteHeader.active {
    color: #1B1816;
  }
  body #wrapper nav #websiteHeader h3 {
    padding: 1rem;
    font-size: 2rem;
    font-family: "headerFont", sans-serif;
  }
  body #wrapper nav #burgerDropdown {
    position: absolute;
    right: 1.2rem;
    background-image: url("../assets/images/menuIconLight.png");
    background-size: contain;
    width: 2.6rem;
    height: 2.6rem;
    margin: 1rem 0rem;
  }
  body #wrapper nav #navList {
    transform: translateX(100%);
    z-index: 102;
    font-family: "headerFont", sans-serif;
    transition: transform 0.3s ease-in-out;
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1B1816;
    border: 0.2rem solid #A9927D;
    height: 100vh;
    width: 75%;
    right: 0;
  }
  body #wrapper nav #navList.open {
    transform: translateX(0%);
  }
  body #wrapper nav #navList #navSidebarHeader {
    display: flex;
    align-items: center;
  }
  body #wrapper nav #navList #navSidebarHeader h3 {
    position: absolute;
    font-size: 2rem;
    left: 0;
    top: 0;
    padding: 0.5rem;
    margin: 0.2rem 1rem;
  }
  body #wrapper nav #navList #navSidebarHeader #closeNav {
    background-image: url("../assets/images/icons8-close-50.png");
    background-size: contain;
    position: absolute;
    top: 0;
    right: 0;
    width: 2rem;
    height: 2rem;
    margin: 1rem 1rem;
  }
  body #wrapper nav #navList #navSidebarItems {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body #wrapper nav #navList #navSidebarItems li {
    text-transform: uppercase;
    padding: 3rem 5rem;
    font-size: 2rem;
  }
  body #wrapper nav #navList #navSidebarItems li a {
    color: #A9927D;
  }
  body #wrapper nav #navList #navSidebarFooter {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 2rem;
  }
  body #wrapper nav #navList #navSidebarFooter .social span {
    padding: 0.5rem;
    color: #A9927D;
    font-size: 1rem;
    position: relative;
  }
  body #wrapper nav #navList #navSidebarFooter .social:not(:first-child, :last-child) span {
    border-left: 0.1rem solid #A9927D;
    border-right: 0.1rem solid #A9927D;
    padding: 0rem 1rem;
  }
  body #wrapper #contentSection {
    flex-grow: 1;
    color: #F2F4F3;
    z-index: 1;
    background-color: #1B1816;
  }
  body #wrapper #contentSection #content {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 40rem;
    display: flex;
    background-image: url("../assets/images/jacobHeadshot.png");
    background-attachment: fixed;
    background-color: #A9927D;
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
  }
  body #wrapper #contentSection #content #contentInContent {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  body #wrapper #contentSection #content #contentInContent .tint {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 24, 22, 0.6);
  }
  body #wrapper #contentSection #content #contentInContent #myNameHeader {
    font-family: "headerFont", sans-serif;
    font-size: 2.5rem;
    position: absolute;
    bottom: 0;
    left: 0;
    color: #A9927D;
    background-color: rgba(94, 80, 63, 0.5);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
  }
  body #wrapper #contentSection #content #contentInContent #myNameHeader h1 {
    margin: 0.2rem;
  }
  body #wrapper #aboutMe {
    position: relative;
    display: flex;
    flex-direction: column;
    z-index: 2;
    border-bottom: 0.1rem solid #A9927D;
  }
  body #wrapper #aboutMe #titleClump {
    margin: 2rem 0rem 0rem 1rem;
    padding: 1rem;
    font-family: "headerFont", sans-serif;
  }
  body #wrapper #aboutMe #currentTitle {
    font-size: 2.5rem;
  }
  body #wrapper #aboutMe #titleSubtitle {
    font-size: 1.4rem;
    width: 20rem;
  }
  body #wrapper #aboutMe #descriptionAboutMe {
    margin-top: 5rem;
  }
  body #wrapper #aboutMe #descriptionAboutMe p.paragraph {
    margin-bottom: 1.3rem;
    text-align: center;
    font-family: "headerFont", sans-serif;
    font-size: 1.5rem;
  }
  body #wrapper #aboutMe #descriptionAboutMe:last-child {
    margin-bottom: 2rem;
  }
  body #wrapper #aboutMe #contactMeBtn {
    position: absolute;
    top: 3rem;
    right: 2rem;
    background-image: url("../assets/images/contactIconLight.png");
    background-size: contain;
    width: 2.6rem;
    height: 2.6rem;
  }
  body #wrapper #myWork {
    margin-top: 3rem;
    position: relative;
    z-index: 2;
  }
  body #wrapper #myWork #myWorkHeader {
    text-align: center;
    font-size: 4rem;
    font-family: "headerFont", sans-serif;
  }
  body #wrapper #myWork #worksColumn {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: min-content;
    gap: 15vw;
    width: 100%;
    padding: 1rem;
    margin-top: 1vh;
  }
  body #wrapper #myWork #worksColumn .work {
    text-align: center;
    margin: 10rem 0;
  }
  body #wrapper #myWork #worksColumn .work a {
    position: relative;
    font-size: 2rem;
    font-family: "headerFont", sans-serif;
    color: #F2F4F3;
    width: 75%;
    padding: 10vw 10vw;
    border: 0.1rem solid #5E503F;
    border-radius: 2rem;
  }
  body #wrapper #myWork #worksColumn .work a span {
    background-color: rgba(27, 24, 22, 0.6);
  }
  body #wrapper #myWork #worksColumn .work #skyCast {
    width: 100%;
    background-image: url("../assets/images/skyCast.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  body #wrapper #myWork #worksColumn .work #todoList {
    width: 100%;
    background-image: url("../assets/images/toDoList.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  body #wrapper #myWork #worksColumn .work #gitHub {
    width: 100%;
    background-image: url("../assets/images/github.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  body #wrapper #myWork #worksColumn .work #portfolioSite {
    background-image: url("../assets/images/portsite.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  body #wrapper #footerSection footer {
    margin-top: 3rem;
    padding: 1rem;
    text-align: center;
    background-color: #5E503F;
  }
}
@media (min-width: 768px) {
  html {
    scroll-behavior: smooth;
    font-size: 90%;
  }
  body {
    background: #1b1816;
    font-family: "headerFont", sans-serif;
  }
  body.disabledScroll {
    overflow: hidden;
  }
  body #popupGoalsMenu {
    visibility: hidden;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: rgba(94, 80, 63, 0.8);
    z-index: 9999999;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transform: scale(0.8);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }
  body #popupGoalsMenu.shown {
    visibility: visible;
    transform: scale(1);
    opacity: 1;
  }
  body #popupGoalsMenu .goalSection {
    border: 0.2rem solid #A9927D;
    width: 35vw;
    font-size: 1vw;
    height: 95%;
    background: #1B1816;
    border-radius: 3rem;
    padding: 2rem;
    color: #A9927D;
    font-size: rem;
    transition: all 0.2s ease;
  }
  body #popupGoalsMenu .goalSection:hover {
    width: 45vw;
    font-size: 1vw;
  }
  body #popupGoalsMenu span {
    padding: 1rem;
    width: 10%;
    text-align: center;
    border-radius: 1rem;
    background: #A9927D;
    color: #1B1816;
    box-shadow: 0rem 0.1rem 0.1rem #1B1816;
    transition: all 0.3s ease;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  body #popupGoalsMenu span:hover {
    transform: scale(1.2);
    box-shadow: 0rem 0.5rem 1rem #1B1816;
    color: rgba(27, 24, 22, 0.7);
  }
  body #popupGoalsMenu #finleyLifeGoals {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    box-shadow: -1rem 1rem 1rem #1B1816;
  }
  body #popupGoalsMenu #finleyLifeGoals h2 {
    text-align: center;
    padding: 0.3rem;
    border-bottom: 0.1rem solid #A9927D;
  }
  body #popupGoalsMenu #finleyLifeGoals .goal.right {
    margin-left: 25%;
  }
  body #popupGoalsMenu #finleyLifeGoals .goal.left {
    margin-right: 25%;
  }
  body #popupGoalsMenu #finleyLifeGoals .goal {
    padding: 0.5rem;
    width: 75%;
  }
  body #popupGoalsMenu #finleyLifeGoals footer {
    border-top: 0.1rem solid #A9927D;
    padding: 0.3rem;
  }
  body #popupGoalsMenu #finleyLifeGoals footer a {
    color: #A9927D;
    font-size: 0.5vwrem;
    padding: 0.5rem;
    transition: color 0.3s ease;
  }
  body #popupGoalsMenu #finleyLifeGoals footer a:hover {
    color: #5E503F;
  }
  body #popupGoalsMenu #jacobsYearGoals {
    box-shadow: 1rem 1rem 1rem #1B1816;
  }
  body #popupContactMenu {
    visibility: hidden;
    position: fixed;
    top: 50%;
    right: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000000;
  }
  body #popupContactMenu.opened {
    visibility: visible;
  }
  body #popupContactMenu #contactForm {
    position: fixed;
    width: 35%;
    height: 75%;
    background: #A9927D;
    border-radius: 3rem;
    box-shadow: 0rem 1rem 3rem #000;
    padding: 3rem;
  }
  body #popupContactMenu #contactForm span#closeForm {
    font-size: 2.7rem;
    float: right;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }
  body #popupContactMenu #contactForm h2 {
    color: #F2F4F3;
    text-shadow: 0rem 0.4rem 1rem #1B1816;
    font-size: 3rem;
    text-align: center;
  }
  body #popupContactMenu #contactForm form {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  body #popupContactMenu #contactForm form .formItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 1.75rem;
    margin-top: 2rem 0rem;
  }
  body #popupContactMenu #contactForm form .formItem label {
    margin-right: 1rem;
  }
  body #popupContactMenu #contactForm form .formItem input {
    padding: 0.5rem;
    align-items: center;
  }
  body #popupContactMenu #contactForm form .formItem button {
    width: 70%;
    padding: 1rem;
    font-size: 2rem;
    border: 0.3rem solid #5E503F;
    margin: 2rem 0;
  }
  body #wrapper {
    width: 85vw;
    margin: 0 auto;
    background: #1B1816;
    color: #A9927D;
    border: #5E503F 0.1rem solid;
  }
  body #wrapper #overlay {
    visibility: hidden;
    width: 100%;
    height: 100%;
    z-index: 199999;
    background: rgba(27, 24, 22, 0.8);
    position: fixed;
    left: 0;
    top: 0;
  }
  body #wrapper #overlay.active {
    visibility: visible;
  }
  body #wrapper nav {
    z-index: 100;
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #1B1816;
    width: 100%;
    height: 3rem;
    border-bottom: 0.1rem solid #A9927D;
  }
  body #wrapper nav #websiteHeader h3 {
    padding: 0.5rem 1rem;
  }
  body #wrapper nav #navList {
    display: flex;
  }
  body #wrapper nav #navSidebarHeader {
    display: none;
  }
  body #wrapper nav #navSidebarItems {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
  }
  body #wrapper nav #navSidebarItems li a {
    position: relative;
    color: #A9927D;
    padding: 0.2rem 0.4rem;
  }
  body #wrapper nav #navSidebarItems li a::after {
    content: "";
    position: absolute;
    height: 0.2rem;
    left: 0;
    bottom: 0;
    width: 0%;
    background: rgba(169, 146, 125, 0.7);
    transition: width 0.2s;
  }
  body #wrapper nav #navSidebarItems li a:hover:after {
    width: 100%;
  }
  body #wrapper nav #navSidebarFooter {
    display: flex;
    flex-direction: row;
    margin-left: 0.7rem;
  }
  body #wrapper nav #navSidebarFooter a .sidebarFooterText {
    display: none;
  }
  body #wrapper nav #navSidebarFooter a.social {
    margin: 0rem 1rem;
    padding: 0.5rem;
    transition: all 0.4s ease;
  }
  body #wrapper nav #navSidebarFooter a.social:hover {
    transform: scale(1.5);
  }
  body #wrapper nav #navSidebarFooter a.facebook {
    width: 1.1rem;
    height: 1.1rem;
    background: url("../assets/images/icons8-facebook-50.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  body #wrapper nav #navSidebarFooter a.instagram {
    width: 1.1rem;
    height: 1.1rem;
    background: url("../assets/images/icons8-instagram-50.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  body #wrapper nav #navSidebarFooter a.twitch {
    width: 1.1rem;
    height: 1.1rem;
    background: url("../assets/images/icons8-twitch-50.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  body #wrapper nav #navSidebarFooter a.twitter {
    width: 1.1rem;
    height: 1.1rem;
    background: url("../assets/images/icons8-x-50.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  body #wrapper #contentSection #content {
    position: relative;
    background: url("../assets/images/jacobHeadshot.png");
    background-position: center;
    background-attachment: fixed;
    background-size: contain;
    background-color: rgba(94, 80, 63, 0.5);
    background-repeat: no-repeat;
    height: 90vh;
  }
  body #wrapper #contentSection #content #contentInContent .tint {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(27, 24, 22, 0.1);
  }
  body #wrapper #contentSection #myNameHeader {
    color: #5E503F;
    width: 100%;
    height: 100%;
    font-size: 9vw;
    transition: all 0.3s ease-in-out;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  body #wrapper #contentSection #myNameHeader #firstNameHeader {
    position: absolute;
    top: 15vw;
    text-shadow: 1rem 1rem 1rem rgba(27, 24, 22, 0.7);
    transition: all 0.3s ease-in-out;
  }
  body #wrapper #contentSection #myNameHeader #lastNameHeader {
    position: absolute;
    bottom: 15vw;
    right: 1rem;
    text-shadow: 1rem 1rem 1rem rgba(27, 24, 22, 0.7);
    transition: all 0.3s ease-in-out;
  }
  body #wrapper #contentSection #myNameHeader:hover {
    cursor: pointer;
  }
  body #wrapper #contentSection #myNameHeader:hover #lastNameHeader, body #wrapper #contentSection #myNameHeader:hover #firstNameHeader {
    color: rgba(169, 146, 125, 0.7);
    text-shadow: 1rem 1rem 1rem #1b1816;
  }
  body #wrapper #aboutMe {
    border-top: rgba(242, 244, 243, 0.5) 0.2rem solid;
    width: 100%;
    position: relative;
    display: flex;
  }
  body #wrapper #aboutMe #contactMeBtn {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 1rem;
    height: 1rem;
    background: url("../assets/images/contactIconLight.png");
    background-size: contain;
    padding: 1rem;
    cursor: pointer;
  }
  body #wrapper #aboutMe #titleClump {
    position: absolute;
    top: 1rem;
    left: 1rem;
    margin: 1rem 0rem;
    width: 20vw;
  }
  body #wrapper #aboutMe #titleClump #currentTitle {
    color: #a9927d;
    font-size: 4vw;
  }
  body #wrapper #aboutMe #titleClump #titleSubtitle {
    color: rgba(169, 146, 125, 0.65);
    font-size: 1.25vw;
  }
  body #wrapper #aboutMe #descriptionAboutMe {
    position: relative;
    display: block;
    margin-left: 27vw;
    text-align: center;
    width: 50vw;
    padding: 3rem;
    color: rgba(242, 244, 243, 0.8);
  }
  body #wrapper #aboutMe #descriptionAboutMe p {
    padding: 0.4rem;
    margin-bottom: 0.5rem;
    width: 30vw;
  }
  body #wrapper .partial-hr {
    display: block;
    height: 1px;
    width: 60vw;
    margin: 0 auto;
    border: 0;
    border-top: 1px solid #A9927D;
  }
  body #wrapper #myWork {
    position: relative;
    display: block;
    text-align: center;
    overflow: visible;
    height: auto;
  }
  body #wrapper #myWork #myWorkHeader {
    font-family: "writingFont", cursive;
    margin-top: 2rem;
    font-size: 4rem;
  }
  body #wrapper #myWork #worksColumn {
    margin-top: 1vw;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 10vw;
    gap: 5vw;
    min-height: 5vh;
    padding: 4vw;
  }
  body #wrapper #myWork #worksColumn .work {
    transition: all 0.4s ease;
  }
  body #wrapper #myWork #worksColumn .work:hover {
    transform: scale(1.1);
    box-shadow: 0rem 5rem 10rem #010101;
  }
  body #wrapper #myWork #worksColumn .work a {
    display: block;
    box-sizing: border-box;
    min-height: 5rem;
    width: 100%;
    color: #f2f4f3;
    padding: 5vw;
    border: 0.5rem solid rgba(94, 80, 63, 0.3);
    border-radius: 2rem;
    box-shadow: 0rem 1rem 2rem #010101;
  }
  body #wrapper #myWork #worksColumn .work a span {
    background-color: rgba(27, 24, 22, 0.7);
    padding: 0.3rem 0.7rem;
    border-radius: 0.4rem;
    box-shadow: 0rem 0.5rem 1rem #1B1816;
  }
  body #wrapper #myWork #worksColumn #skyCast {
    position: relative;
    width: 100%;
    background-image: url("../assets/images/skyCast.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  body #wrapper #myWork #worksColumn #todoList {
    position: relative;
    width: 100%;
    background-image: url("../assets/images/toDoList.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  body #wrapper #myWork #worksColumn #gitHub {
    position: relative;
    width: 100%;
    background-image: url("../assets/images/github.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
  body #wrapper #myWork #worksColumn #portfolioSite {
    background-image: url("../assets/images/portsite.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  body #wrapper #footerSection {
    border-top: 0.1rem solid #5E503F;
  }
  body #wrapper #footerSection footer {
    padding: 1rem;
  }
}/*# sourceMappingURL=style.css.map */