// Adding in my fonts
@font-face {
    font-family: 'headerFont';
    src: url('../assets/fonts/Lexend-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'baseFont';
    src: url('../assets/fonts/AlumniSansPinstripe-Regular.ttf'),
         url('../assets/fonts/AlumniSansPinstripe-Italic.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'writingFont';
    src: url('../assets/fonts/CaveatBrush-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

// Color variables for ease later in code
$black: #1B1816;
$main: #49111C;
$white: #F2F4F3;
$second: #A9927D;
$third: #5E503F;


// I'm setting all values to zero or none so I can have complete control over the pages look. Going for a mobile first approach
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

// This is to make sizing easier for me. Since the default broswer size is nomral 16px, 62.5% would leave that at 10px. Meaning that 1 rem is 10px. Making math easier
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    height: 100%;
}

@media (max-width: 767px) {
body {
    height: 100%;
    background: $black;

    #popupContactMenu {
        display: none;
    }
    #popupGoalsMenu {
        display: none;
    }

    #wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        #overlay {
            position: fixed;
            top: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($black, 0.6);
            z-index: 100;
            opacity: 0%;
            pointer-events: none;
            transition: opacity .4s ease;

            &.active {
                opacity: 100%;
            }
            
        }

        // Navigation Section on Mobile Devices
        nav {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            color: $second;
            display: flex;
            z-index: 100;
            background-color: rgba($third, .5);

            #websiteHeader {
                color: $second;
                transition: all .3s ease;

                &.active {
                    color: $black;
                }

                h3 {
                    padding: 1rem;
                    font-size: 2rem;
                    font-family: 'headerFont', sans-serif;
                    
                }
            }

            #burgerDropdown {
                position: absolute;
                right: 1.2rem;
                background-image: url('../assets/images/menuIconLight.png');
                background-size: contain;
                width: 2.6rem;
                height: 2.6rem;
                margin: 1rem 0rem;
            }

           

            #navList {
                // This keeps the sidebar off the screen until the user calls for it
                transform: translateX(100%);
                z-index: 102;
                font-family: 'headerFont', sans-serif;
                // This is here for the user to have a better viewing experience
                transition: transform 0.3s ease-in-out;
                position: fixed;
                display: flex;
                flex-direction: column;
                align-items: center;
                background-color: $black;
                border: .2rem solid $second;
                height: 100vh;
                width: 75%;
                right: 0;

                &.open {
                    transform: translateX(0%);
                }

                

                #navSidebarHeader {
                    display: flex;
                    align-items: center;

                    h3 {
                        position: absolute;
                        font-size: 2rem;
                        left: 0;
                        top: 0;
                        padding: .5rem;
                        margin: .2rem 1rem;
                    }

                    #closeNav {
                        background-image: url('../assets/images/icons8-close-50.png');
                        background-size: contain;
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 2rem;
                        height: 2rem;
                        margin: 1rem 1rem;
                    }
                }


                #navSidebarItems {
                    display: flex;
                    height: 100%;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    li {
                        text-transform: uppercase;
                        padding: 3rem 5rem;
                        font-size: 2rem;
                        
                        a {
                            color: $second;
                        }
                    }
                }

                #navSidebarFooter {
                    display: flex;
                    justify-content: center;
                    position: absolute;
                    bottom: 2rem;

                    .social {
                        span {
                            padding: .5rem;
                            color: $second;
                            font-size: 1rem;
                            position: relative;
                        }
                    }

                    .social:not(:first-child, :last-child) {
                        span {
                        border-left: .1rem solid $second;
                        border-right: .1rem solid $second;
                        padding: 0rem 1rem;
                        }
                    }

                }

            }

            
        }

        // Content Section for mobile devices / smaller screens
        #contentSection {
            flex-grow: 1;
            color: $white;
            z-index: 1;
            background-color: $black;

            #content {
                position: relative;
                z-index: 1;
                width: 100%;
                height: 40rem;
                display: flex;
                background-image: url('../assets/images/jacobHeadshot.png');
                background-attachment: fixed;
                background-color: $second;
                background-size: contain;
                background-position: top;
                background-repeat: no-repeat;

                #contentInContent {
                    display: flex;
                    position: relative;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    
                    // This adds a tint to the headshot image
                    .tint {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-color: rgba($black, .6);
                    }

                    #myNameHeader {
                        font-family: 'headerFont', sans-serif;
                        font-size: 2.5rem;
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        color: $second;
                        background-color: rgba($third, .5);
                        padding: .5rem 1rem;
                        border-radius: .5rem;

                        display: flex;
                        justify-content: center;
                        h1 {
                            margin: .2rem;
                        }
                    }

                    
                }

                
            }
        
        }

        // About Me section on mobile devices / smaller screens

        #aboutMe {
            position: relative;
            display: flex;
            flex-direction: column;
            z-index: 2;
            border-bottom: .1rem solid $second;
            #titleClump {
                margin: 2rem 0rem 0rem 1rem;
                padding: 1rem;
                font-family: 'headerFont', sans-serif;
            }
            #currentTitle {
                font-size: 2.5rem;
            }
            #titleSubtitle {
                font-size: 1.4rem;
                width: 20rem;
            }


            #descriptionAboutMe {
                margin-top: 5rem;

                p.paragraph {
                margin-bottom: 1.3rem;
                text-align: center;
                font-family: 'headerFont', sans-serif;
                font-size: 1.5rem;
                }
                
                &:last-child {
                    margin-bottom: 2rem;
                }
            }
            #contactMeBtn {
                position: absolute;
                top: 3rem;
                right: 2rem;
                background-image: url('../assets/images/contactIconLight.png');
                background-size: contain;
                width: 2.6rem;
                height: 2.6rem;
            }
        }

        #myWork {
            margin-top: 3rem;
            position: relative;
            z-index: 2;

            #myWorkHeader {
                text-align: center;
                font-size: 4rem;
                font-family: 'headerFont', sans-serif;
            }

            #worksColumn {
                display: grid;
                grid-template-columns: repeat(1, 1fr);
                grid-auto-rows: min-content;
                gap: 20vw;
                width: 100%;
                padding: 1rem;
                margin-top: 1vh;

                .work {
                    text-align: center;
                    margin: 10rem 0;

                    a {
                        position: relative;
                        font-size: 2rem;
                        font-family: 'headerFont', sans-serif;
                        color: $white;
                        width: 75%;
                        padding: 10vw 10vw;
                        border: .1rem solid $third;
                        border-radius: 2rem;

                        span {
                            background-color: rgba($black, .6);
                        }
                    }

                    #csProjects {
                        width: 100%;
                        background-image: url('../assets/images/github.jpg');
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                    }

                    #portfolioSite {
                        background-image: url("../assets/images/portsite.png");
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                    }

                }

                


            }
        }
        #footerSection {
            footer {
                margin-top: 3rem;
                padding: 1rem;
                text-align: center;
                background-color: $third;
                
            }
        } 
    }
}
}




// CSS for any tablet/Laptop Devices

@media (min-width: 768px) {
    html {
        scroll-behavior: smooth;
        font-size: 90%;
    }

    body {
        background: rgba($black, 1);
        font-family: 'headerFont', sans-serif;

        &.disabledScroll {
            overflow: hidden;
        }

        #popupGoalsMenu {
            visibility: hidden;
            width: 100vw;
            height: 100vh;
            position: fixed;
            background: rgba($third, .8);
            z-index: 9999999;
            display: flex;
            justify-content: space-around;
            align-items: center;
            transform: scale(.8);
            opacity: 0;
            transition: opacity .3s ease, transform .3s ease;


            &.shown {
                visibility: visible;
                transform: scale(1);
                opacity: 1;
            }

            .goalSection {
                border: .2rem solid $second;
                width: 35vw;
                font-size: 1vw;
                height: 95%;
                background: $black;
                border-radius: 3rem;
                padding: 2rem;
                color: $second;
                font-size: rem;
                transition: all .2s ease;

                &:hover {
                    width: 45vw;
                    font-size: 1vw;
                }

            }

            span {
                padding: 1rem;
                width: 10%;
                text-align: center;
                border-radius: 1rem;
                background: $second;
                color: $black;
                box-shadow: 0rem .1rem .1rem $black;
                transition: all .3s ease;
                cursor: pointer;
                user-select: none;
                &:hover {
                    transform: scale(1.2);
                    box-shadow: 0rem .5rem 1rem $black;
                    color: rgba($black, .7);
                }
            }

            #finleyLifeGoals {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                position: relative;
                box-shadow: -1rem 1rem 1rem $black;


                h2 {
                    text-align: center;
                    padding: .3rem;
                    border-bottom: .1rem solid $second;
                }

                .goal.right {
                    margin-left: 25%;
                }

                .goal.left {
                    margin-right: 25%;
                }

                .goal {
                    padding: .5rem;
                    width: 75%;
                }

                footer {
                    border-top: .1rem solid $second;
                    padding: .3rem;

                    a {
                        color: $second;
                        font-size: .5vwrem;
                        padding: .5rem;
                        transition: color .3s ease;
                    }

                    a:hover {
                        color: $third;
                    }
                }

            }

            #jacobsYearGoals {
                box-shadow: 1rem 1rem 1rem $black;
            }
        }

    // Contact form outside of wrapper
        #popupContactMenu {
            visibility: hidden;
            position: fixed;
            top: 50%;
            right: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1000000;


            &.opened {
                visibility: visible;
            }

            #contactForm {
                position: fixed;
                width: 35%;
                height: 75%;
                background: $second;
                border-radius: 3rem;
                box-shadow: 0rem 1rem 3rem #000;
                padding: 3rem;


                span#closeForm {
                    font-size: 2.7rem;
                    float: right;
                    margin: 0;
                    padding: 0;
                    cursor: pointer;
                }

                h2 {
                    color: $white;
                    text-shadow: 0rem .4rem 1rem $black;
                    font-size: 3rem;
                    text-align: center;
                }

                form {
                    position: relative;
                    height: 100%;
                    display: flex;
                    flex-direction: column;

                    .formItem {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        font-size: 1.75rem;
                        margin-top: 2rem 0rem;

                        label {
                            margin-right: 1rem
                        }

                        input {
                            padding: .5rem;
                            align-items: center;
                        }

                        button {
                            width: 70%;
                            padding: 1rem;
                            font-size: 2rem;
                            border: .3rem solid $third;
                            margin: 2rem 0
                        }
                    }


                }
            }
        }
// Page wrapper for better look
        #wrapper {
            width: 85vw;
            margin: 0 auto;
            background: $black;
            color: $second;
            border: $third .1rem solid;


            #overlay {
                visibility: hidden;
                width: 100%;
                height: 100%;
                z-index: 199999;
                background: rgba($black, .8);
                position: fixed;
                left: 0;
                top: 0;

                &.active {
                    visibility: visible;
                }
            }

            // Nav sectrion for larger displays
            nav {
                z-index: 100;
                position: fixed;
                display: flex;
                left: 0;
                top: 0;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                background: $black;
                width: 100%;
                height: 3rem;
                border-bottom: .1rem solid $second;

                #websiteHeader {
                    h3 {
                        padding: .5rem 1rem;
                    }
                }

                #navList {
                    display: flex;
                }


                #navSidebarHeader {
                    display: none;
                }

                #navSidebarItems {
                    display: flex;
                    flex-direction: row;
                    text-align: center;
                    width: 100%;

                    li {

                        a {
                            position: relative;
                            color: $second;
                            padding: .2rem .4rem;


                            &::after {
                                content: "";
                                position: absolute;
                                height: .2rem;
                                left: 0;
                                bottom: 0;
                                width: 0%;
                                background: rgba($second, .7);
                                transition: width .2s;
                            }
    
                            &:hover:after {
                                width: 100%;
                            }

                            
                        }
                        
                    }
                }


                #navSidebarFooter {
                    display: flex;
                    flex-direction: row;
                    margin-left: .7rem;

                    
                    
                    a {
                        
                        
                        .sidebarFooterText {
                            display: none;
                        }
                    }

                    a.social {
                        margin: 0rem 1rem;
                        padding: .5rem;
                        transition: all .4s ease;

                        &:hover {
                            transform: scale(1.5);
                        }

                        
                    }
                    a.facebook {
                        width: 1.1rem;
                        height: 1.1rem;
                        background: url("../assets/images/icons8-facebook-50.png");
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                    }
                    a.instagram {
                        width: 1.1rem;
                        height: 1.1rem;
                        background: url("../assets/images/icons8-instagram-50.png");
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                    }
                    a.twitch {
                        width: 1.1rem;
                        height: 1.1rem;
                        background: url("../assets/images/icons8-twitch-50.png");
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                    }
                    a.twitter {
                        width: 1.1rem;
                        height: 1.1rem;
                        background: url("../assets/images/icons8-x-50.png");
                        background-repeat: no-repeat;
                        background-size: contain;
                        background-position: center;
                    }
                }
            }

            #contentSection {
                
                #content {
                    position: relative;
                    background: url('../assets/images/jacobHeadshot.png');
                    background-position: center;
                    background-attachment: fixed;
                    background-size: contain;
                    background-color: rgba($third, .5);
                    background-repeat: no-repeat;
                    height: 90vh;


                    #contentInContent {
                        .tint {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: rgba($black, .1);
                        }
                    }
                }

                #myNameHeader {
                    color: $third;
                    width: 100%;
                    height: 100%;
                    font-size: 9vw;
                    transition: all .3s ease-in-out;
                    user-select: none;
                    #firstNameHeader {
                        position: absolute;
                        top: 15vw;
                        text-shadow: 1rem 1rem 1rem rgba($black, .7);
                        transition: all .3s ease-in-out;
                    }
                    #lastNameHeader {
                        position: absolute;
                        bottom: 15vw;
                        right: 1rem;
                        
                        text-shadow: 1rem 1rem 1rem rgba($black, .7);
                        transition: all .3s ease-in-out;
                    }

                    &:hover {
                        
                        cursor: pointer;

                        #lastNameHeader, #firstNameHeader {
                            color: rgba($second, .7);
                            text-shadow: 1rem 1rem 1rem rgba($black, 1);
                        }
                    }
                }
            }

            #aboutMe {
                border-top: rgba($white, .5) .2rem solid;
                width: 100%;
                position: relative;
                display: flex;

                #contactMeBtn {
                    position: absolute;
                    top: 1rem;
                    right: 1rem;
                    width: 1rem;
                    height: 1rem;
                    background: url('../assets/images/contactIconLight.png');
                    background-size: contain;
                    padding: 1rem;
                    cursor: pointer;
                }

                #titleClump {
                    position: absolute;
                    top: 1rem;
                    left: 1rem;
                    margin: 1rem 0rem;
                    width: 20vw;

                    #currentTitle {
                        color: rgba($second, 1);
                        font-size: 4vw;
                    }
                    #titleSubtitle {
                        color: rgba($second, .65);
                        font-size: 1.25vw;
                    }
            
                }

                #descriptionAboutMe {
                    position: relative;
                    display: block;
                    margin-left: 27vw;
                    text-align: center;
                    width: 50vw;
                    padding: 3rem;
                    color: rgba($white, .8);

                    p {
                        padding: .4rem;
                        margin-bottom: .5rem;
                        width: 30vw;
                    }
                }
            }

            .partial-hr {
                display: block;
                height: 1px;
                width: 60vw;
                margin: 0 auto;
                border: 0;
                border-top: 1px solid $second;
            }

            #myWork {
                position: relative;
                display: block;
                text-align: center;
                overflow: visible;
                height: auto;

                #myWorkHeader {
                    font-family: 'writingFont', cursive;
                    margin-top: 2rem;
                    font-size: 4rem;
                }

                #worksColumn {
                    margin-top: 1vw;
                    width: 100%;
                    height: auto;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-auto-rows: 10vw;
                    gap: 5vw;
                    min-height: 5vh;
                    padding: 4vw;

                    .work {
                        transition: all .4s ease;
                        
            

                        &:hover {
                            transform: scale(1.1);
                            box-shadow: 0rem 5rem 10rem #010101;
                        }

                        a {
                            display: block;
                            box-sizing: border-box;
                            min-height: 5rem;
                            width: 100%;
                            color: rgba($white, 1);
                            padding: 5vw;
                            border: .5rem solid rgba($third, .3);
                            border-radius: 2rem;
                            box-shadow: 0rem 1rem 2rem #010101;

                            span {
                                background-color: rgba($black, .7);
                                padding: .3rem .7rem;
                                border-radius: .4rem;
                                box-shadow: 0rem .5rem 1rem $black;
                            }

                        }
                    }

                    #csProjects {
                        position: relative;
                        width: 100%;
                        background-image: url('../assets/images/github.jpg');
                        background-position: center;
                        background-size: cover;
                        background-repeat: no-repeat;
                        

                    }

                    #portfolioSite {
                        background-image: url("../assets/images/portsite.png");
                        background-size: cover;
                        background-repeat: no-repeat;
                        background-position: center;
                    }
                }
            }
            #footerSection {
                border-top: .1rem solid $third;

                footer {
                    padding: 1rem;
                }
            }
        }
    }
}
    